.blog{
  .img-wrapper {
    max-width: 20em;
    display: inline-block;
    padding: 0.5em 2em;
  }
  .content {
    max-width: 30em;
    display: inline-block;
    vertical-align: top;
  }

  .article{
    background: #FFF;
    margin-bottom: 20px;
  }

}
