.blog{
  .img-wrapper {
    max-width: 20em;
    display: inline-block;
    padding: 0.5em 2em;
  }
  .content {
    max-width: 30em;
    display: inline-block;
    vertical-align: top;
  }

  .article{
    background: #FFF;
    margin-bottom: 20px;
  }

}

body
  .post
    font-family: HurmeGeometricSans4Regular;
    .featured_image
      display: block
      margin: 0px auto
      max-width: 80%

    .title
      font-size: 3.5em
      font-family: Alegreya

    .content
      padding-top: 3.5em

    ul
      list-style-type: disc;
    ol
      list-style-type: integers;
    ul, ol
      padding: 0
      margin: 0 0 10px 25px

    p, ul, ol
        max-width: 45em
        text-align: justify
    img
        max-width: 80%;
        margin: 0px auto;
        display: block
