@import url("http://fonts.googleapis.com/css?family=Pacifico");
h1#header {
  text-align: center;
  padding: 100px/3;
  font-size: 100px/2.4;
  text-shadow: 0 2px 2px #13212b;
}
article {
  position: relative;
  padding-left: 120px;
  padding-right: 50px;
  height: 100px;
  margin-bottom: 100px/5;
  background-color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}
article .img-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #203748;
  padding: 10px;
}
article .img-wrapper img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 100px;
}
article h1 {
  height: 100px/2;
  line-height: 100px/2;
  font-size: 24px;
  border-bottom: 2px solid #203748;
  color: #428bca;
}
article p {
  color: #888;
}
article a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 100px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-size: 48px;
  font-style: italic;
  opacity: 0;
  color: #428bca !important;
  text-decoration: none !important;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
@media only screen and (max-width: 460px) {
  article {
    height: 200px;
  }
  article h1 {
    font-size: 16px;
  }
  article p {
    font-size: 12px;
  }
}
